* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #fafafa;
  color: #262626;
  font-family: BlinkMacSystemFont;
  width: 100%;
  display: flex;
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.05em;
}

h6 {
  font-size: 0.9em;
}

.sidebar-wrapper {
  min-width: 280px;
  max-width: 280px;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 280px;
  max-width: 280px;
  min-height: 100vh;
  padding: 40px 10px 30px 10px;
  background: #ffffff;
  border-right: 1px solid #dbdbdb;
  transition: 0.3s;
}
.sidebar-header {
  width: 100%;
  margin-bottom: 44px;
}

.logo-icon {
  display: none;
  text-align: center;
}

.logo-icon > i {
  font-size: 28px !important;
}

.logo-img {
  display: inline;
  margin-left: 14px;
  height: 32px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.sidebar a {
  height: 60px;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.sidebar a > span {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 12px;
  border-radius: 8px;
  line-height: 1;
}

.sidebar a:hover > span {
  background: #4e3ffb;
  color: #e1ecff;
}
.sidebar a:hover > span :is(i, img) {
  scale: 1.05;
}
.sidebar a > span > span {
  transition: 0.3s;
}
.sidebar a > .active {
  background: #4e3ffb;
  color: #e1ecff;
}

.sidebar a i {
  position: relative;
  font-size: 20px;
  transition: 0.2s;
}
.sidebar a img {
  width: 28px;
  height: 28px;
  transition: 0.2s;
}
.sidebar a i > span {
  display: grid;
  place-items: center;
  height: 20px;
  padding: 0 4px;
  border-radius: 8px;
  position: absolute;
  top: -5px;
  right: -10px;
  border: 1px solid #ffffff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar a i > em {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 8px;
  position: absolute;
  top: 2px;
  right: -1px;
  border: 1px solid #ffffff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}
.sidebar a span {
  font-size: 17px;
}

.sidebar > nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-toggle {
  margin-top: auto;
  color: #000;
  text-align: center;
  font-size: 20px;
  padding: 4px;
  background-color: transparent;
  display: block;
}

.sidebar-toggle > i {
  width: 28px;
  margin: auto;
  cursor: pointer;
}

.sidebar-toggle > i:hover {
  color: #6f6e6e;
}

.sidebar-wrapper.indent {
  min-width: 72px !important;
  max-width: 72px !important;
}

.logo-img.indent {
  display: none;
}
.logo-icon.indent {
  display: block;
}
.sidebar.indent {
  min-width: 72px !important;
  max-width: 72px !important;
}
.sidebar.indent a > span {
  width: 50px;
}
.sidebar.indent a > span > span {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .sidebar-wrapper {
    min-width: 72px !important;
    max-width: 72px !important;
  }

  .logo-img {
    display: none;
  }
  .logo-icon {
    display: block !important;
  }
  .sidebar {
    min-width: 72px !important;
    max-width: 72px !important;
  }
  .sidebar a > span {
    width: 50px;
  }
  .sidebar a > span > span {
    opacity: 0;
    visibility: hidden;
  }
  .sidebar-toggle {
    display: none;
  }
  .container {
    padding: 20px 30px !important;
  }
}

.main-content {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  transition: all 0.4s;
  overflow: hidden;
}

/* index.html */
.hero-banner {
  width: 100%;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.explore-button {
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #e64a19;
}

.featured-tools {
  width: 100%;
  padding: 40px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.featured-tools .left {
  width: 40%;
}

.featured-tools .right {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-content {
  width: 100%;
  max-width: 100%;
  transition: all 0.4s;
  overflow: hidden;
}

.container {
  padding: 40px 60px;
}

.card {
  width: 250px;
  min-width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card a {
  color: black;
}

.card:hover {
  transform: scale(1.02);
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
  .hero-banner {
    background-position: left;
  }
  .hero-content h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
  }
  .featured-tools {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  .featured-tools .left {
    width: 100%;
    text-align: center;
  }
  .featured-tools .right {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* rubric-generator.html */
#output2 {
  overflow-x: auto;
}

#output p {
  font-size: 20px;
  margin-top: 30px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
  .data-table {
    overflow-x: auto;
  }
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  vertical-align: middle;
}

input[type='checkbox']:checked {
  background-color: #555;
}

input[type='checkbox']:checked::before {
  content: '\2713';
  text-align: center;
  line-height: 20px;
  color: #fff;
}

label {
  margin-left: 5px;
}

.rubric-button {
  background-color: #4e3ffb;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

.rubric-button:hover {
  background-color: #3327b5;
  cursor: pointer;
}

/* dropdown */

.split-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
  height: 40px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 8px;
}

button {
  display: flex;
  align-items: center;
  height: 100%;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: #f9f9f9;
  font-size: 16px;
}
.split-button > button:nth-child(1) {
  width: 100%;
  overflow: hidden;
  padding: 0 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.split-button > button:nth-child(2) {
  width: 50px;
  background: rgba(0, 0, 0, 0.12);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.split-button > button:nth-child(2) > span {
  margin: auto;
}

.menu {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;
  width: 100%;
  translate: -30px 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.45);
  transition: all 0.45s;
}

.menu.open {
  translate: 0 0;
  opacity: 1;
  visibility: visible;
}
.menu > button {
  gap: 10px;
  padding: 10px 18px;
}

.download-button {
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #659b5e;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  float: right;
}

.download-button:hover {
  background-color: #507f4a;
}

.coming-soon-page {
  color: #333;
  text-align: center;
  padding: 50px;
}
